body{
    background-color: rgb(0, 255, 13);
    box-sizing: border-box;
    margin: 15px;
    align-items: center;
    font-size: medium;
    font-style: normal;
}
.label{
    font-size: 25px;
}
.
    
    
    