body{
    background-color: rgb(0, 255, 13);
    box-sizing: border-box;
    margin: 15px;
    align-items: center;
    font-size: medium;
    font-style: normal;
}
h1{
    text-align:center ;
    justify-content: space-between;
    height: 10px;
}
.label{
    font-size: 25px;
}
    
    
    